<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="ca.uwaterloo.android.UWWeather"
      android:versionCode="1"
      android:versionName="1.0">
      
    <application android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:debuggable="true"
        android:description="@string/app_description">
    
        <activity
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:name=".UWWeatherActivity">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        
        <!-- Broadcast Receiver that will process AppWidget updates -->
        <receiver android:name=".UWWeatherWidget" android:label="@string/widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_weather" />
        </receiver>

        <!-- Service to perform web API queries -->
        <service android:name=".UWWeatherWidget$UpdateService" />

    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="7" />

</manifest> 